@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Montserrat:400,600');

html{
	height:100%;
	width:100%;
}

html, body{

	font-size: 16px;

	margin: 0;
	padding: 0;

	background: #111111;
}

h1, h4 {
	font-family: Fugaz One, Arial, sans-serif;
	color: #FFFFFF;
	margin: 0;
}

.logo img {
	max-height: 25px;
	min-height: 12px;
	height: 100%;
}

p, a {
	font-family: Montserrat, Open Sans, Helvetica, sans-serif;
	color: #FFFFFF;
	margin: 0;

}

.nav-bar {
	position: fixed;
	right: 0px;
	top: 0px;
	left: 0px;
	z-index: 999;

	background: rgba(17, 17, 17, .7);

	-webkit-transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
  	-moz-transition: -moz-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
  	transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

	padding: 1rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-bar.hidden {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.nav {
	display: flex;
}

.nav-item {
	text-align: center;
	padding: 0 1rem;
	margin: .1rem;
}

a {
	text-decoration: none;
	position: relative;
}

.nav-item a:before {
	content: " ";
	position: absolute;
	right: 50%;
	bottom: 0;
	height: 1px;
	width: 0%;
	background-color: #FFFFFF;
	-webkit-transition: width 0.5s ease-in-out;
	transition: width 0.5s ease-in-out;
}

.nav-item a:after {
	content: " ";
  	position: absolute;
  	left: 50%;
  	bottom: 0;
  	height: 1px;
  	width: 0%;
  	background-color: #FFFFFF;
  	-webkit-transition: width 0.5s ease-in-out;
  	transition: width 0.5s ease-in-out;
}

.nav-item a:hover:before, a:hover:after {
	width:50%;
}

/*======== first section ========*/

.first-page {
	width: 100vw;
	height: 100vh;

	background: url(../img/intro-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header a {
	font-family: Fugaz One, Arial, sans-serif;
	color: #FFFFFF;
	margin: 0;

	font-size: 6em;
	transform: rotate(-2deg);

}

.header a:hover {
	cursor: default;
}


.subtitle p {
	text-align: center;
	padding-bottom: .3rem;
}

.countdown {
	margin: .5rem;
	padding: .5rem 1rem;
	text-align: center;
	width: 23%;
	background: rgba(17, 17, 17, .5);

}

.countdown p{
	font-size: 2rem;
	font-weight: 600;
	color: #28df28;
}

/*======== second section ========*/

.second-page {
	margin-top: 1rem;
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	
	position: relative;
	z-index: 1;
}

.second-page::before {
	overflow: hidden;
	width: 100%;
	content: "";
	height: 100%;
	position: absolute;
	top: -7%;
	-webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
    z-index: -1;
    background: #111111;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.description p{
	margin: 1rem;
	text-align: center;
	font-style: italic;
	line-height: 2rem;

}

.blurb p {
	margin-top: 1.5rem;
	font-family: Fugaz One, Arial, sans-serif;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-align: center;
	color: #970001;

}

.video {
	max-width: 100% !important;
    width: 100% !important;
    height: auto !important;
    margin: 0 auto;
	text-align: center;
}

.h_iframe {
	position: relative;
	padding-top: 56%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*======== third section ========*/

.third-page {

	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.box img {
	max-width: 14rem;
}

.box {
	position: relative;
}

.tagline {
	position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
	opacity: 0;
	transition: .5s ease;
	background: rgba(17, 17, 17, .7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.tagline:hover {
	opacity: 1;
}

.hover {
-webkit-user-select: none;
-webkit-touch-callout: none;        
}

.clan-description .clan{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
}

.clan-description p, h4{ 
	margin: 1rem 2rem;
	text-align: justify;
 }

.clan-description h4 {
	font-size: 3rem;
	text-align: center;
}

p.caption{
	text-align: center;
	font-style: italic;
	color: rgba(255,255,255, .7);
	margin-top:-1.5rem;
	padding-bottom: 1rem;
}

.red h4, .red p.caption {
	color: #CA0002;
}

.blue h4, .blue p.caption {
	color: #0483FF;
}

.yellow h4, .yellow p.caption {
	color: #FFCD00;
}

.green h4, .green p.caption {
	color: #1BC00B;
}

/*======== twitter feed ========*/

.feed {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
}

#twitter-widget-0 { 
    width: 30% !important; 
}

/*======== last section ========*/

div.last-section {
	margin-top: 5%;
}

.last-section p{
	font-family: Fugaz One, Arial, sans-serif;
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}

#hm {
	font-family: Montserrat, Open Sans, Helvetica, sans-serif;
	color:  #111111;
	font-size: .5rem;
}

/*======== footer ========*/

footer {
	padding: 1rem;
	font-size: .8rem;
	color: rgb(142,142,147);
	text-align: center;
}

@media all and (min-width: 860px){

	.header a {
		font-size: 4rem;
	}

	.third-page {
		height: auto !important;
		flex-direction: column;
		overflow: auto;
	}

	.clan-description .clan {
		flex-direction: row;
	}

	.countdown {
		width: 80%;
	}

	.countdown p{
	font-size: 1.5rem;
	}

	div.clan-description{
		padding-bottom: 3rem;
	}

}

@media all and (max-width: 860px) and (min-width: 600px){

	body {
		font-size: 14px;
	}

	.header a {
		font-size: 3.5rem;
	}

	.nav-item {
		padding: 0 .25rem;
	}

	.countdown {
		width: 45%;
	}

	
	.third-page {
		padding-top: 1rem;
		flex-direction: column;
		height: auto !important;
		overflow: auto;
	}

	div.clan-description{
		padding-bottom: 2rem;
	}

	#twitter-widget-0 { 
    width: 60% !important; 
}
}

@media all and (max-width: 600px) {

	body {
		font-size: 12px;
	}

	.header a {
		font-size: 2rem;
	}

	.nav-item {
		padding: 0 .25rem;
	}

	.countdown {
		width: 45%;
	}

	.countdown p{
		font-size: 1rem;
	}
	
	.third-page {
		padding-top: 1rem;
		flex-direction: column;
		height: auto !important;
		overflow: auto;
	}

	div.clan-description{
		padding-bottom: 2rem;
	}

	#twitter-widget-0 { 
    	width: 60% !important; 
	}



}
